<section>
  <div class="section-two">
      <div>
          <h2 class="section-two-header font-bold font-brwn">Выберите свою любимую пиццу </h2>
      </div>
      <div class="section-cards">
          <div class="section-cards-column">
              <div class="card-pizza" *ngFor="let prod of products">
                  <div >
                   <img src="{{_albums[prod.id-1].thumb}}" alt="pizza-{{prod.id}}" (click)="open(prod.id-1)"/>

                </div>
                  <div>
                      <h3 class="card-pizza-header font-dark font-bold">{{prod.name}}</h3>
                      <p class="card-pizza-text font-reg">{{prod.desc}}</p>
                  </div>
                  <div>
                      <button class="card-pizza-button bckgr-orng font-dark font-bold">В корзину</button>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
