<header class="header-shadow">
  <div class = "header-container container">
      <div class="header-container">
          <div class="icon-profile">
              <img src="../../../assets/img/logo.svg" alt="icon">
          </div>
      <div class="header-name">
          <h1 class="header-name-text">PIZZA CHEFF</h1>
      </div>
      <nav class="navbar">
          <ul class = "nav-menu"  *ngIf="showToggle">
              <li class="nav-item"><a href="#pizza" class="link font-reg">Пиццы</a></li>
              <li class="nav-item"><a href="#pizza" class="link font-reg">Напитки</a></li>
              <li class="nav-item"><a href="#contacts" class="link font-reg">Доставка и оплата</a></li>
              <li class="nav-item"><a href="#contacts" class="link font-reg">Контакты</a></li>
          </ul>
          <ul class = "nav-menu"  *ngIf="bigScreen">
            <li class="nav-item"><a href="#pizza" class="link font-reg">Пиццы</a></li>
            <li class="nav-item"><a href="#pizza" class="link font-reg">Напитки</a></li>
            <li class="nav-item"><a href="#contacts" class="link font-reg">Доставка и оплата</a></li>
            <li class="nav-item"><a href="#contacts" class="link font-reg">Контакты</a></li>
        </ul>
          <button (click)="onToggle()" class="button-humburger">
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
        </button>
      </nav>
      </div>
  </div>
</header>

