<section>
  <div class="section-one">
  <div class="section-one-desc">
      <h2 class="section-one-header font-brwn font-extra-bold">Самая вкусная пицца в мире <span class="section-span font-orng">только в Pizza Cheff</span></h2>
      <div class="section-column">
          <div>
              <div class="section-row">
                  <img src="../../../assets/img/section1/testo.svg" alt="">
                  <div class="section-row-desc">
                      <h2 class="section-row-header font-extra-bold font-orng">Лучшее тесто</h2>
                      <p class="section-row-text font-reg font-brwn">Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
                  </div>
              </div>
              <div  class="section-row">
                  <img src="../../../assets/img/section1/gar.svg" alt="">
                  <div class="section-row-desc">
                      <h2 class="section-row-header font-extra-bold font-orng">гарантия качества</h2>
                      <p class="section-row-text font-reg font-brwn">Наша пиццерия получила множество наград и признаний по всему миру</p>
                  </div>
              </div>
          </div>
          <div>
              <div  class="section-row">
                  <img src="../../../assets/img/section1/povara.svg" alt="">
                  <div class="section-row-desc">
                      <h2 class="section-row-header font-extra-bold font-orng">лучшие повара</h2>
                      <p class="section-row-text font-reg font-brwn">Пиццы готовят самые профессиональные итальянские повара</p>
                  </div>
              </div>
              <div  class="section-row">
                  <img src="../../../assets/img/section1/rezept.svg" alt="">
                  <div class="section-row-desc">
                      <h2 class="section-row-header font-extra-bold font-orng">отборные рецепты</h2>
                      <p class="section-row-text font-reg font-brwn">Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="section-one-button">
          <button class="button-choose bckgr-orng font-dark font-bold"> Выбрать пиццу</button>
      </div>
  </div>
  <div class="section-one-photo">
      <img src="../../../assets/img/section1/pizza.jpg" alt="pizza" class="img-right">
  </div>
</div>
</section>
